@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

<!-- header -->
<div class="top-header-area" id="sticker">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-sm-12 text-center">
				<div class="main-menu-wrap">
					<!-- logo -->
					<div class="site-logo">
						<a asp-controller="Home" asp-action="Index">
							<img src="~/images/AutoPart.png" alt="" height="60" width="80">
						</a>
					</div>
					<!-- logo -->
					<!-- menu start -->
					<nav class="main-menu">
						<ul>
							<li><a asp-controller="Home" asp-action="Index">Home</a></li>
							<li><a asp-controller="Home" asp-action="About">About</a></li>


							<li><a asp-controller="Home" asp-action="Contact">Contact</a></li>
							<li>
								<a asp-controller="Home" asp-action="CarView">Shop</a>
								<ul class="sub-menu">
									<li><a asp-controller="Home" asp-action="CarView">Shop</a></li>
									<li><a asp-controller="Home" asp-action="CheckoutView">Check Out</a></li>
									<li><a asp-controller="Home" asp-action="CartView">Cart</a></li>
								</ul>
							</li>
							<li>
								<a class="nav-link text-blue" asp-area="Admin" asp-controller="Brand" asp-action="Index">Admin</a>
							</li>
							<li>
							<partial name="_LoginPartial" />
							</li>
							<li>
							
								
								<div class="header-icons">
									<a asp-area="Customer" asp-controller="Cart" asp-action="Index" class="shopping-cart">
										<i class="fas fa-shopping-cart"></i>
										 	@await Component.InvokeAsync("ShoppingCart") 
										
									</a>
									<a class="mobile-hide search-bar-icon" href="#"><i class="fas fa-search"></i></a>
								</div>
								

							</li>
						</ul>
					</nav>
					<a class="mobile-show search-bar-icon" href="#"><i class="fas fa-search"></i></a>
					<div class="mobile-menu"></div>
					<!-- menu end -->
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end header -->
